* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    border: black solid 1px;
}

.calculator {
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 24px;
    text-align: right;
    border: none;
    outline: none;
    background-color: #fafafa;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

button {
    padding: 20px;
    font-size: 20px;
    border: 1px solid #ddd;
    cursor: pointer;
    background-color: #fff;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #f00e0e;
}

button:active {
    background-color: #ddd;
}
