
body {
    background-color: lightcyan;
    margin: 0px;
}


span {
    background-color: pink;
    padding: 40px;
    display: inline;
}


#abcdef {
    border: 3px black solid;
    height: 60vh ;
}


@media (max-width: 600px) {
    
    span:nth-child(even) {
        background-color: blue;
    }
}

@media (max-width: 800px) {
    
    span:nth-child(odd) {
        background-color: blue;
        display: none;
    }
}

