
body {
    background-color: lightblue;
}

#container {
    background-color: aqua;
    padding: 5px;
    height: 95vh;
    border: 5px solid black;


    display: grid;
    grid-template-columns: 1fr 2fr 0.5fr;
    grid-template-rows: 0.1fr auto 0.1fr;

}


span {
    background-color: teal;
    border: 1px red solid;
    padding: 10px;
}
